<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKSA3dx2XzKzExLwuqVs7MjF87cGyGcBo</string>
	<key>GCM_SENDER_ID</key>
	<string>342146811607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecozen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zenapp-temporary-appli</string>
	<key>STORAGE_BUCKET</key>
	<string>zenapp-temporary-appli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342146811607:ios:547f306bd199b9af6c5292</string>
</dict>
</plist>